-- Ajoute la colonne titulaire_id à la table classes
ALTER TABLE public.classes ADD COLUMN IF NOT EXISTS titulaire_id UUID REFERENCES public.enseignants(id) ON DELETE SET NULL;
-- Ajoute un commentaire explicatif sur la colonne
COMMENT ON COLUMN public.classes.titulaire_id IS 'Référence vers l''enseignant qui est le professeur principal (titulaire) de cette classe';
